@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "poppins";
}

.container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 95%;
}

.title {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.enable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

span {
    font-weight: 500;
    font-size: 18px;
}

.disable {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.8s;
}

.arrow {
    width: 30px;
    height: 30px;
    rotate: 0deg;
    transition: 0.4s;
}

.faq.active {
    height: initial;
}

.faq.active .disable{
    max-height: 500px; 
    opacity: 1;     
}

.faq.active .arrow{
    rotate: 180deg;
}